.footer {
    width: 100%;
    height: 50%;

    background-color: $color-principal;

   
        


    .grupo-1 {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 45px 0px;

    }

    .box {

        figure {
            text-align: center;
            width: 50%;
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            

            a {
                img {
                    width: 200px;


                }
            }
        }

        h2 {
            color: $color-secundario;
            margin-bottom: 25px;
            font-size: 20px;
        }

        p {
            color: $color-secundario;
            margin-bottom: 10px;
        }

        .red-social {
            a {

                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 10px;
                color: aliceblue;
                margin-right: 10px;
                background-color: rgba(255, 222, 173, 0.089);
                text-align: center;
                transition: all 300ms ease;

                &:hover {
                    transform: scale(1.15);
                }

                img {

                    display: inline-block;
                    width: 45px
                }

            }


        }

    }

    .grupo-2 {
        background-color: $color-principal;
        padding: 15px 10px;
        text-align: center;
        color: $color-secundario;

        small {
            font-size: 15PX;

            b {}
        }
    }
}